@import url(https://www.w3schools.com/w3css/4/w3.css);
@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css);

$red: #FF0207;
$red2: #be0003;
$grey: #888888;
$white: #F0F0F0;
$black: #0b0b11;
$black2: #202028;

html {
    scroll-behavior: smooth;
}