@import './essentials';

/*=======================================================
	General Styles
=======================================================*/

.pageContent {
    position: absolute;
    top: calc(100% + 70px);
}

.topBar-logo-container {
    position: absolute;
}

#logoSocials {
    position: relative;
    left: 0px;
    top: -25px;
    font-size: 16pt;

    a {
        margin-left: 15px;
        color: $white;

        &:hover {
            color: $red;
        }
    }
}

.overlay-content {
    position: relative;
    top: 45%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    transform: translate(0, -50%);
}

/*=======================================================
      Carousel Styles
  =======================================================*/

.carousel-content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 60%;
    padding: 20px;

    h1 {
        color: $red;
        font-size: 18pt;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        font-size: 32pt;
        color: $white;
        width: 60%;
    }

    button {
        color: $white;
        background: $red;
        transition: 0.4s;
        height: 50px;
        width: 160px;
        text-transform: uppercase;
        font-weight: 700;

        &:hover {
            color: $white !important;
            background: $red !important;
            border-radius: 25px;
        }
    }
}

.carousel-item {
    min-height: 100vh !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

@media screen and (max-width: 1100px) {
    .carousel-content {
        h1 {
            text-align: center;
            width: 100%;
            font-size: 12pt;
        }

        p {
            text-align: center;
            width: 100%;
            font-size: 18pt;
        }

        button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

/*=======================================================
      Teams Styles
  =======================================================*/

.teamsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;

    background-position: center !important;
    background-size: cover !important;
    transition: 0.4s;
    padding: 40px 20px 0px 20px;
    width: 45%;
    padding-top: 18.6%;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }

    h1 {
        font-size: 18pt;
    }
}

#largeScreenRosterSelector {
    display: block;
}

#smallScreenRosterSelector {
    display: none;
}

@media screen and (max-width: 1100px) {
    .team-container {
        width: 100%;
        padding-top: 37.8%;
    }
}

.custom-select {
    position: relative;
    background: $red !important;
    height: 48px !important;
    border: none;
    font-weight: 700;

    select {
        display: none !important;
    }
}

.select-selected {
    background-color: $red;

    &:after {
        position: absolute;
        content: "";
        top: 20px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: $white transparent transparent transparent;
    }

    &.select-arrow-active:after {
        border-color: transparent transparent $white transparent;
        top: 14px;
    }
}

.select-items div,
.select-selected {
    color: $white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: $red2;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/*=======================================================
      Streams Styles
  =======================================================*/

.streamsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.streams-container {
    position: relative;
    width: 392px;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 10px;
    background: #202028;
    background-position: center !important;
    background-size: cover !important;
    transition: 0.4s;
    padding: 15px;
    overflow: hidden;

    .streamerName {
        position: absolute;
        font-size: 18pt;
        color: $red;
        line-height: 10pt;
        font-weight: 700;
        bottom: 25px;
        transition: 0.4s;
    }

    .streamerTitle {
        position: absolute;
        font-size: 12pt;
        color: $white;
        line-height: 5pt;
        padding-left: 2px;
        bottom: 3px;
        transition: 0.4s;
    }

    .streamerStatus {
        color: $white;
        font-weight: 700;
        text-align: right;
    }

    .socials-container {
        position: absolute;
        width: 100%;

        height: 30px;
        transform: translate(-15px, 30px);
        bottom: 0;
        transition: 0.4s;
    }

    &:hover {
        .streamerName,
        .streamerTitle {
            transform: translate(0, -30px);
        }

        .socials-container {
            transform: translate(0, 0);
            width: calc(100% - 30px);
        }
    }

    .socials-container a {
        color: $white;

        &:hover {
            color: $red;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 600px) {
    .streams-container {
        .streamerName {
            font-size: 14pt;
        }

        .streamerTitle {
            font-size: 8pt;
        }
    }
}

/*=======================================================
      Other Styles
  =======================================================*/

.w3-button {
    &:hover {
        color: $white !important;
        background: $red !important;
        opacity: 100%;
    }

    &.active {
        opacity: 100%;
    }
}

.moreStreamsBtn {
    float: right;

    &:hover {
        border-radius: 25px;
    }
}