@import './essentials';

/*=======================================================
	Teams Styles
=======================================================*/

.teamsDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    background-position: center !important;
    background-size: cover !important;
    transition: 0.4s;
    padding: 40px 20px 0px 20px;
    width: 45%;
    padding-top: 18.6%;
    cursor: pointer;

    &:hover {
        transform: translateY(-5px);
    }

    h1 {
        font-size: 18pt;
    }
}

@media screen and (max-width: 1100px) {
    .team-container {
        width: 100%;
        padding-top: 37.8%;
    }
}