@import './essentials';

/*=======================================================
	Player Styles
=======================================================*/

.playerDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.playerContainer {
    width: 220px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    background: #202028;
    transition: 0.4s;
    background-size: contain !important;
    background-position: top !important;
}

.playerContainer-pre {
    position: relative;
    height: 75px;
    top: calc(100% - 73px);
    background: $black2;
    padding: 10px 0px 0px 10px;
    overflow: hidden;
    transition: 0.4s;
    background: url(/siteImages/wolfCard.png);
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
}

.playerContainer:hover .playerContainer-pre {
    padding: 20px 0px 0px 10px;
    top: 0;
    height: 100%;
}

.playerContainer-pre {
    h1 {
        font-size: 18pt;
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }

    .plrRole {
        color: $white;
        font-size: 14pt;
        font-weight: 700;
    }
}