doctype html
head
    include _header
    title Wichita Wolves | Admin
    style !{style}


.page-wrapper.chiller-theme.toggled
    include _sidebar

    .page-content
        .container-fluid
            h2 DASHBOARD


include _footer
