doctype html
html
    head
        include _header
        title Wichita Wolves | Admin
        style !{style}

    body.text-center
        form.form-signin(method="POST" action="login")
            img.mb-4(src='/logos/logo_alt.png' alt='' width='200')
            label.sr-only(for='inputUsername') Username
            input#inputUsername.form-control(name='username' type='text' placeholder='Username' required='' autofocus='')
            label.sr-only(for='inputPassword') Password
            input#inputPassword.form-control(name='password' type='password' placeholder='Password' required='')
            if msg
                p #{msg}
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")