.w3-col.s0.m1.l2.w3-container.side-container
.w3-col.s12.m10.l8.w3-container(style='margin-top: 100px;')
    h1.w3-center(style='padding-top: 20px;') SOCIALS
    .sponsor-container
        .sponsor(onclick="openUrl('http://bit.ly/ww_YouTube')" style='background: url(/site-images/socials/youtube.png)')
        .sponsor(onclick="openUrl('http://bit.ly/ww_Twitch')" style='background: url(/site-images/socials/twitch.png)')
        .sponsor(onclick="openUrl('http://bit.ly/ww_Twitter')" style='background: url(/site-images/socials/twitter.png)')
        .sponsor(onclick="openUrl('http://bit.ly/ww_Discord')" style='background: url(/site-images/socials/discord.png)')
        .sponsor(onclick="openUrl('http://bit.ly/ww_Facebook')" style='background: url(/site-images/socials/facebook.png)')
        .sponsor(onclick="window.location.href='mailto: wichitawolvesesports@gmail.com'" style='background: url(/site-images/socials/email.png)')
    h1.w3-center(style='padding-top: 80px;') SPONSORS
    .sponsor-container
        .sponsor(onclick="openUrl('https://www.clxgaming.com/')" style='background: url(/site-images/sponsors/clx-wide.png)')
    p.w3-center(style='padding-top: 80px;')
        i.far.fa-copyright(aria-hidden='true')
        |  &nbsp;2020 Wichita Wolves Esports - All Rights Reserved
.w3-col.s0.m1.l2.w3-container.side-container