script(async src="https://www.googletagmanager.com/gtag/js?id=G-K9CX1J8JH1")
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-K9CX1J8JH1');

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width,initial-scale=1.0")
meta(name="description" content="Home of Wichita Wolves. Wichita's esport organization")
meta(name="theme-color" content="#0b0b11")

link#favicon(rel="icon" href="/logo.ico" type="image/x-icon")

script(src='https://kit.fontawesome.com/7e8647c319.js' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')